<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.dao.CommonQuestionMapper">
    <resultMap id="BaseResultMap" type="com.test.model.CommonQuestion">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="type_id" property="typeId" jdbcType="INTEGER"/>
        <result column="type_name" property="typeName" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="browse_count" property="browseCount" jdbcType="BIGINT"/>
        <result column="browse_time" property="browseTime" jdbcType="TIMESTAMP"/>
        <result column="is_top" property="isTop" jdbcType="TINYINT"/>
        <result column="sort_order" property="sortOrder" jdbcType="TINYINT"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="user_realname" property="userRealName" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.test.model.CommonQuestion" extends="BaseResultMap">
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, type_id, type_name, title, phone, browse_count, browse_time, is_top, sort_order,
        remark, user_id, user_name, user_realname, status, create_time, modify_time
    </sql>
    <sql id="Blob_Column_List">
        content
    </sql>
    <!--  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs"
              parameterType="com.za.cls.model.CommonQuestionExample">
          select
          <if test="distinct">
              distinct
          </if>
          <include refid="Base_Column_List"/>
          ,
          <include refid="Blob_Column_List"/>
          from common_question
          <if test="_parameter != null">
              <include refid="Example_Where_Clause"/>
          </if>
          <if test="orderByClause != null">
              order by ${orderByClause}
          </if>
      </select>
      <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.za.cls.model.CommonQuestionExample">
          select
          <if test="distinct">
              distinct
          </if>
          <include refid="Base_Column_List"/>
          from common_question
          <if test="_parameter != null">
              <include refid="Example_Where_Clause"/>
          </if>
          <if test="orderByClause != null">
              order by ${orderByClause}
          </if>
      </select>-->
    <select id="get" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from common_question
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="delete" parameterType="java.lang.Long">
        delete from common_question
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.test.model.CommonQuestion">
        insert into common_question (id, type_id, type_name,
        title, phone, browse_count,
        browse_time, is_top, sort_order,
        remark, user_id, user_name,
        user_realname, status, create_time,
        modify_time, content)
        values (#{id,jdbcType=BIGINT}, #{typeId,jdbcType=INTEGER}, #{typeName,jdbcType=VARCHAR},
        #{title,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{browseCount,jdbcType=BIGINT},
        #{browseTime,jdbcType=TIMESTAMP}, #{isTop,jdbcType=BIT}, #{sortOrder,jdbcType=TINYINT},
        #{remark,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR},
        #{userRealName,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP},
        #{modifyTime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="add" parameterType="com.test.model.CommonQuestion">
        insert into common_question
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="typeId != null">
                type_id,
            </if>
            <if test="typeName != null">
                type_name,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="browseCount != null">
                browse_count,
            </if>
            <if test="browseTime != null">
                browse_time,
            </if>
            <if test="isTop != null">
                is_top,
            </if>
            <if test="sortOrder != null">
                sort_order,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="userRealName != null">
                user_realname,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
            <if test="content != null">
                content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="typeId != null">
                #{typeId,jdbcType=INTEGER},
            </if>
            <if test="typeName != null">
                #{typeName,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="browseCount != null">
                #{browseCount,jdbcType=BIGINT},
            </if>
            <if test="browseTime != null">
                #{browseTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isTop != null">
                #{isTop,jdbcType=BIT},
            </if>
            <if test="sortOrder != null">
                #{sortOrder,jdbcType=TINYINT},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userRealName != null">
                #{userRealName,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByExampleSelective" parameterType="map">
        update common_question
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.typeId != null">
                type_id = #{record.typeId,jdbcType=INTEGER},
            </if>
            <if test="record.typeName != null">
                type_name = #{record.typeName,jdbcType=VARCHAR},
            </if>
            <if test="record.title != null">
                title = #{record.title,jdbcType=VARCHAR},
            </if>
            <if test="record.phone != null">
                phone = #{record.phone,jdbcType=VARCHAR},
            </if>
            <if test="record.browseCount != null">
                browse_count = #{record.browseCount,jdbcType=BIGINT},
            </if>
            <if test="record.browseTime != null">
                browse_time = #{record.browseTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.isTop != null">
                is_top = #{record.isTop,jdbcType=BIT},
            </if>
            <if test="record.sortOrder != null">
                sort_order = #{record.sortOrder,jdbcType=TINYINT},
            </if>
            <if test="record.remark != null">
                remark = #{record.remark,jdbcType=VARCHAR},
            </if>
            <if test="record.userId != null">
                user_id = #{record.userId,jdbcType=BIGINT},
            </if>
            <if test="record.userName != null">
                user_name = #{record.userName,jdbcType=VARCHAR},
            </if>
            <if test="record.userRealName != null">
                user_realname = #{record.userRealName,jdbcType=VARCHAR},
            </if>
            <if test="record.status != null">
                status = #{record.status,jdbcType=TINYINT},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.modifyTime != null">
                modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.content != null">
                content = #{record.content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExampleWithBLOBs" parameterType="map">
        update common_question
        set id = #{record.id,jdbcType=BIGINT},
        type_id = #{record.typeId,jdbcType=INTEGER},
        type_name = #{record.typeName,jdbcType=VARCHAR},
        title = #{record.title,jdbcType=VARCHAR},
        phone = #{record.phone,jdbcType=VARCHAR},
        browse_count = #{record.browseCount,jdbcType=BIGINT},
        browse_time = #{record.browseTime,jdbcType=TIMESTAMP},
        is_top = #{record.isTop,jdbcType=BIT},
        sort_order = #{record.sortOrder,jdbcType=TINYINT},
        remark = #{record.remark,jdbcType=VARCHAR},
        user_id = #{record.userId,jdbcType=BIGINT},
        user_name = #{record.userName,jdbcType=VARCHAR},
        user_realname = #{record.userRealName,jdbcType=VARCHAR},
        status = #{record.status,jdbcType=TINYINT},
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
        modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
        content = #{record.content,jdbcType=LONGVARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update common_question
        set id = #{record.id,jdbcType=BIGINT},
        type_id = #{record.typeId,jdbcType=INTEGER},
        type_name = #{record.typeName,jdbcType=VARCHAR},
        title = #{record.title,jdbcType=VARCHAR},
        phone = #{record.phone,jdbcType=VARCHAR},
        browse_count = #{record.browseCount,jdbcType=BIGINT},
        browse_time = #{record.browseTime,jdbcType=TIMESTAMP},
        is_top = #{record.isTop,jdbcType=BIT},
        sort_order = #{record.sortOrder,jdbcType=TINYINT},
        remark = #{record.remark,jdbcType=VARCHAR},
        user_id = #{record.userId,jdbcType=BIGINT},
        user_name = #{record.userName,jdbcType=VARCHAR},
        user_realname = #{record.userRealName,jdbcType=VARCHAR},
        status = #{record.status,jdbcType=TINYINT},
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
        modify_time = #{record.modifyTime,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="update" parameterType="com.test.model.CommonQuestion">
        update common_question
        <set>
            <if test="typeId != null">
                type_id = #{typeId,jdbcType=INTEGER},
            </if>
            <if test="typeName != null">
                type_name = #{typeName,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="browseCount != null">
                browse_count = #{browseCount,jdbcType=BIGINT},
            </if>
            <if test="browseTime != null">
                browse_time = #{browseTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isTop != null">
                is_top = #{isTop,jdbcType=BIT},
            </if>
            <if test="sortOrder != null">
                sort_order = #{sortOrder,jdbcType=TINYINT},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userRealName != null">
                user_realname = #{userRealName,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.test.model.CommonQuestion">
        update common_question
        set type_id = #{typeId,jdbcType=INTEGER},
        type_name = #{typeName,jdbcType=VARCHAR},
        title = #{title,jdbcType=VARCHAR},
        phone = #{phone,jdbcType=VARCHAR},
        browse_count = #{browseCount,jdbcType=BIGINT},
        browse_time = #{browseTime,jdbcType=TIMESTAMP},
        is_top = #{isTop,jdbcType=BIT},
        sort_order = #{sortOrder,jdbcType=TINYINT},
        remark = #{remark,jdbcType=VARCHAR},
        user_id = #{userId,jdbcType=BIGINT},
        user_name = #{userName,jdbcType=VARCHAR},
        user_realname = #{userRealName,jdbcType=VARCHAR},
        status = #{status,jdbcType=TINYINT},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
        content = #{content,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateCount" parameterType="java.lang.Long">
        update common_question
        set
        browse_count = browse_count + 1,
        browse_time = now()
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="getList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from common_question
        <where>
            <if test="title != null and title != ''">
                and title like concat('%',#{title},'%')
            </if>
            <if test="content != null and content != ''">
                and content like concat('%',#{content},'%')
            </if>
            <if test="typeId != null">
                and type_id = #{typeId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>
    <select id="getCount" resultType="java.lang.Integer">
        select count(*)
        from common_question
        <where>
            <if test="title != null and title != ''">
                and title like concat('%',#{title},'%')
            </if>
            <if test="content != null and content != ''">
                and content like concat('%',#{content},'%')
            </if>
            <if test="typeId != null">
                and type_id = #{typeId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>
    <update id="updateStatus" parameterType="java.lang.Long">
        update common_question
        set
        status = #{status,jdbcType=TINYINT},
        modify_time = now()
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>